.bz-nav{
	padding-left: 0;
	padding-right: 0;
	&__list{
		width: 100%;
		margin: 0 $im;
		padding: 0;
		list-style-type: none;
		overflow-x: scroll;
		overflow-y: hidden;
	}
	&__link{
		@include font($font__main, 1.8, 400, $color__link);
		line-height: 22px;
		display: block;
		&:hover, &:focus{
			color: $color__background-green;
		}
	}
	&__item{
	    flex: 0 0 auto;
		width: auto;
		max-width: 100%;


		& + .bz-nav__item{
			.bz-nav__link{
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		&:last-of-type .bz-nav__link{
			padding-right: 0;	
		}
		.bz-nav__link{
			padding-right: 10px;	
		}
	}
	&__collapse{
		overflow: hidden;
	}
}