.e-dig-serv{
	padding-top: 10px;
	padding-bottom: 100px;
	&__card{
		&-box{
			transition: 0.5s;
			overflow: hidden;
			position: relative;
			margin-bottom: 85px;
			&:hover{
				.e-dig-serv__number{
					margin-left: 42%;
					color: $black;
					&-c{
						color: $e-violet;
					}
				}
				.e-dig-serv__title{
					margin-left: 8%;
				}
				// .e-dig-serv__text{
				// 	margin-left: 8%;
				// }
				.e-dig-serv__button{
					margin-left: 27%;
				}
				.e-dig-serv__img-top{
					transform: translate3d(1px, 3px, -15px);
				}
				.e-dig-serv__img-bottom{
					transform: translate3d(-3px, -0px, -15px);
				}
				margin-bottom: 0;
				margin-top: -53px;
				cursor: pointer;
				padding: 53px 14px 63px 14px;
				border-radius: 30px;
				box-shadow: 0px 2px 27px 10px rgba(196,183,210,0.3);
			}

		}
	}
	&__number{
		@include font($p, 3rem, 600, 1);
		color: $l-gray1;
		transition: 0.5s;
	}
	&__title{
		@include font($p, 1.5rem, 600, 1);
		color: $black;
		margin-bottom: 20px;
		margin-top: 12px;
		transition: 0.5s;
	}
	&__text{
		@include font($p, 1rem, 400, 1.7);
		color: $l-gray4;
		margin-bottom: 40px;
		transition: 0.5s;
	}
	&__button{
		display: inline-block;
		text-transform: uppercase;
		@include font($p, 0.80rem, 600, 1);
		color: $black;
		padding: 17px 32px;
		background-color: $l-gray1;
		border-radius: 40px;
		transition: 0.5s;
		&:hover{
			color: $black;
			background-color: $l-gray-hover;
			box-shadow: 0px 2px 27px 10px rgba(196,183,210,0.3);
		}
	}
	&__img-top{
		z-index: -1;
		position: absolute;
	    top: -27px;
	    left: -28px;
	    transform: translate3d(-60px, -60px, -15px);
	    transition: 0.5s;
	}
	&__img-bottom{
		z-index: -1;
		position: absolute;
	    bottom: -93px;
	    right: -62px;
	    transform: translate3d(72px, 72px, -15px);
	    transition: 0.5s;
	}
}