.bz-cookie{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	&__fallback{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		z-index: 2;
		cursor: pointer;
	}
	&__box{
		background-color: $color__background-green;
		padding: 14px;
		max-width: 320px;
		width: 100%;
		position: relative;
		z-index: 3;
	}
	&__title{
		@include font($font__main, 1.6, 600, $color__link-d);
		line-height: 19px;
		margin-bottom: 10px;
		text-align: center;
	}
	&__text{
		@include font($font__main, 1.6, 500, $color__link-d);
		line-height: 19px;
		margin-bottom: 20px;
		text-align: center;
	}
	&__btn{
		display: inline-block;
		max-width: 170px;
		width: 100%;
		background-color: $color__background-white;
		@include font($font__main, 1.6, 600, $color__link);
		text-align: center;
		padding: 12px 15px;
		border-radius: 100px;
	}
}