.bz-login{
	&__row{
		min-height: 100vh;
	}
	&__bg{
		background: transparent url(images/dist/bg-login.jpg) center no-repeat;
		background-size: cover;
	}
	&__logo{
		display: block;
		text-align: center;
		margin-bottom: 49px;
	}
	&__form{
		max-width: 365px;
		width: 100%;
	}
	&__input{
		display: block;
		border-top: 0 $im;
		border-left: 0 $im;
		border-right: 0 $im;
		border-bottom: 1px solid $color__background-black $im;
		border-radius: 0 $im;
		padding: 15px 10px $im;
		line-height: 22px;
		margin-bottom: 15px;
		width: 100%;
		@include font($font__main, 1.8, 400, $color__link);
		&:focus{
			outline: none;
		}
		&::-webkit-input-placeholder{
			color:$color__link;
			font-size: 18px;
			font-weight: 400;
		}
		&::-moz-placeholder{
			color:$color__link;
			font-size: 18px;
			font-weight: 400;
			}/* Firefox 19+ */
		&:-moz-placeholder{
			color:$color__link;
			font-size: 18px;
			font-weight: 400;
			}/* Firefox 18- */
		&:-ms-input-placeholder{
			color:$color__link;
			font-size: 18px;
			font-weight: 400;
		}
	}
	&__forgot{
		@include font($font__main, 1.4, 400, $color__background-green);
		line-height: 17px;
		margin-bottom: 14px;
		display: block;
		text-decoration: underline;
	}
	&__btn{
		margin: 0 auto;
		display: block;
		max-width: 174px;
		width: 100%;
		background-color: $color__background-green;
		@include font($font__main, 1.4, 600, $color__link-d);
		text-align: center;
		padding: 15px 15px 14px 15px;
		border-radius: 100px;
		border: 0;
		outline: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		&:focus{
			outline: none;
		}
	}
}