.bz-materials{
	&__item{
		margin-bottom: 30px;
	}
	&__image{
		background-size: cover;
		height: 250px;
		margin-bottom: 15px;
		position: relative;
	}
	&__badge{
		display: inline-block;
		position: absolute;
		left: 15px;
		top: 15px;
		padding: 0 6px;
		@include font($font__main, 1.2, 600, $color__link-d);
		text-align: center;
		line-height: 22px;
		text-transform: uppercase;
		background-color: $color__background-badge;
	}
	&__title{
		@include font($font__main, 1.8, 600, $color__link);
		line-height: 22px;
		margin-bottom: 10px;
		display: block;
		&:hover, &:focus{
			color: $color__background-green $im;
		}
		&:visited{
			color: $color__link;
		}
	}
	&__info{
		display: flex;
		flex-wrap: wrap;
	}
	&__author{
		@include font($font__main, 1.4, 400, $color__text-sssl);
	}
	&__divider{
		margin-left: 10px;
		margin-right: 10px;
		@include font($font__main, 1.4, 400, $color__text-sssl);
	}
	&__status{
		&--published{
			@include font($font__main, 1.4, 400, $color__green);
		}
		&--unpublished{
			@include font($font__main, 1.4, 400, $color__wine);
		}
	}
}