.bz-page{
	&--line{
		border-top: 2px solid $color__background-black;
	}
	&__title{
		@include font($font__secondary, 4.8, 300, $color__text-md);
		padding-right: 30px;
		line-height: 58px;
		min-width: 230px;
		&-box{
			padding-top: 55px;
			margin-bottom: 30px;
			display: flex;
		}
	}
	&__big-title{
		@include font($font__secondary, 6.0, 300, $color__link);
		padding-right: 30px;
		line-height: 70px;
		min-width: 270px;
		&-box{
			padding-top: 55px;
			margin-bottom: 30px;
			display: flex;
		}
	}
	&__themes{
		&-name{
			@include font($font__main, 1.0, 400, $color__text-ml);
			line-height: 12px;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		&-box{
			display: flex;

		}
		&-link{
			display: block;
			border: 1px solid $color__btn-border;
			border-radius: 16px;
			@include font($font__main, 1.2, 600, $color__text-md);
			line-height: 14px;
			text-transform: uppercase;
			padding: 8px 15px;
			& + .bz-page__themes-link{
				margin-left: 15px;
			}
			&:hover, &:focus{
				color: $color__background-green;
			}
		}
	}
	&__pagination{
		margin-top: 20px;
		&-item{
			&.active .bz-page__pagination-link{
				background-color: $color__background-green;
				border-color: $color__background-green;
				color: $color__link-d;
			}
			& + .bz-page__pagination-item{
				margin-left: 5px;
			}
		}
		&-link{
			@include font($font__main, 1.6, 500, $color__link);
			line-height: 19px;
			border: 0;
			padding: 4px 10px 5px 10px;
			&:hover{
				color: $color__background-green;
			}
		}

	}
}