.bz-subscribe{
	background-color: $color__background-black;
	padding-top: 45px;
	padding-bottom: 45px;
	position: relative;
	&__exists{
		.bz-subscribe__text-main, .bz-subscribe__input-box{
			display: none;
		}
		.bz-subscribe__text-exists{
			display: block;
		}
		.bz-subscribe__close{
			display: block;
		}
	}
	&__thank{
		.bz-subscribe__text-main, .bz-subscribe__input-box{
			display: none;
		}
		.bz-subscribe__text-thank{
			display: block;
		}
		.bz-subscribe__close{
			display: block;
		}
	}
	&__error{
		.bz-subscribe__text-main, .bz-subscribe__input-box{
			display: none;
		}
		.bz-subscribe__text-error{
			display: block;
		}
		.bz-subscribe__close{
			display: block;
		}
	}
	&__text{
		@include font($font__main, 2.2, 500, $color__link-d);
		&-exists{
			display: none;
		}
		&-thank{
			display: none;
		}
		&-error{
			display: none;
		}
	}
	&__input{
		background-color: $color__background-input-d;
		border-radius: 100px;
		border: 1px solid transparent;
		outline: 0;
		width: 100%;
		padding: 12px 24px 11px 24px;
		@include font($font__main, 1.4, 400, $color__text-m);
		&-box{
			display: flex;
			position: relative;
			align-items: center;
			padding: 11px 0px;
		}
		&.invalid{
			border: 1px solid #DF1B1B;
		}
	}
	&__message{
		position: absolute;
		left: 24px;
		bottom: -10px;
		@include font($font__main, 1.4, 400, #DF1B1B);
		line-height: 17px;
	}
	&__close{
		display: none;
		position: absolute;
		right: 13px;
		top: 14px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		text-align: center;
		padding: 9px;
		background-color: $color__background-white;
		&:focus{
			outline: none;
		}
	}
	&__btn{
		display: block;
		position: absolute;
		right: 0;
		top: 11px;
		bottom: 11px;
		border-radius: 100px;
		@include font($font__main, 1.4, 600, $color__link);
		text-transform: uppercase;
		line-height: 17px;
		padding: 15px 30px 16px 30px;
		max-width: 175px;
		text-align: center;
		background-color: $color__background-white;
		&-icon{
			display: none;
		}
		&.loading{
			padding: 6px 30px 7px 30px;
			.bz-subscribe__btn-text{
				display: none;
			}
			.bz-subscribe__btn-icon{
				display: inline-block;
				-webkit-animation-name: spin;
			    -webkit-animation-duration: 4000ms;
			    -webkit-animation-iteration-count: infinite;
			    -webkit-animation-timing-function: linear;
			    -moz-animation-name: spin;
			    -moz-animation-duration: 4000ms;
			    -moz-animation-iteration-count: infinite;
			    -moz-animation-timing-function: linear;
			    -ms-animation-name: spin;
			    -ms-animation-duration: 4000ms;
			    -ms-animation-iteration-count: infinite;
			    -ms-animation-timing-function: linear;
			    
			    animation-name: spin;
			    animation-duration: 4000ms;
			    animation-iteration-count: infinite;
			    animation-timing-function: linear;
			}
			@-ms-keyframes spin {
			    from { -ms-transform: rotate(0deg); }
			    to { -ms-transform: rotate(360deg); }
			}
			@-moz-keyframes spin {
			    from { -moz-transform: rotate(0deg); }
			    to { -moz-transform: rotate(360deg); }
			}
			@-webkit-keyframes spin {
			    from { -webkit-transform: rotate(0deg); }
			    to { -webkit-transform: rotate(360deg); }
			}
			@keyframes spin {
			    from {
			        transform:rotate(0deg);
			    }
			    to {
			        transform:rotate(360deg);
			    }
			}
		}
	}
}