.bz-topnav{
	min-height: 81px;
	background-color: $color__nav;
	border-bottom: 2px solid #000;
	position: relative;
	&__social{
		&-link{
			display: inline-block;
			vertical-align: middle;
			@include font($font__main, 1.4, 500, $color__link);
			text-transform: uppercase;
			padding-top: 25px;
			padding-bottom:25px;
			&:hover{
				color: $color__background-green;
			}
		}
	}
	&__logo{
		display: inline-block;
		vertical-align: middle;
	}
	&__search{
		&-link{
			display: inline-block;
		}
		&-icon{
			max-width: 22px;
		}
	}
	&__toggler{
		border: 0;
		padding-right: 0;
		margin-left: 40px;
		vertical-align: middle;
	    margin-top: -3px;
	    &:focus{
	    	outline: none;
	    }
		&-icon{
			width: 26px;
			height: 18px;
			display: block;
		}
	}
	&__profile{
		&-img{
			position: relative;
			width: 36px;
			height: 36px;
			background-color: $color__background-section;
			border-radius: 50%;
			text-align: center;
			padding-top: 4px;
		}
		&-btn{
			margin-left: 44px;
			border: 0;
			padding-left: 0;
			padding-right: 0;
			z-index: 9;
			&:after{
				margin-left: 9px;
			}
			&:focus{
				outline: none $im;
				box-shadow: none;
			}
		}
		&-menu{
			z-index: 1;
			border: 1px solid $color__border-d;
			border-radius: 0;
			padding: 17px;
			box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.08);
			overflow: visible;
			&:after{
				content: "";
				position: absolute;
				top: -6px;
				right: 29px;
				display: block;
				width: 12px;
				height: 12px;
				border: 1px solid $color__border-d;
				transform: rotate(45deg);
				z-index: 0;
			}
			&:before{
				content: "";
				position: absolute;
				top: -5px;
				right: 29px;
				display: block;
				width: 12px;
				height: 12px;
				// border: 1px solid $color__background-white
				transform: rotate(45deg);
				z-index: 9;
				background-color: #fff;
			}
			&-name{
				@include font($font__main, 1.7, 600, $color__link);
				padding-bottom: 14px;
				line-height: 20px;
				border-bottom: 1px solid $color__border-d;
			}
			&-link{
				display: block;
				margin-top: 18px;
				@include font($font__main, 1.4, 600, $color__link);
				line-height: 17px;
				text-transform: uppercase;
			}
		}
	}
	
}