.at-btn{
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 10px 15px;
	@include font($os, 1.3rem, 600);
	border-radius: 35px;
	&--transparent{
		color: $l-gray2;
    	@include font($os, 1.6rem, 600);
		color: $white;
		border: 1px solid $white;
		background-color: $tr;
		max-width: 270px;
		width: 100%;
		padding: 20px 0;
		&:hover{
			color: $white;
		}
	}
	&--outline{
		border: 1px solid $l-gray1;
		background-color: $tr;
		color: $black;
		min-width: 100px;
		transition: 0.6s;
		&:hover{
			color: $black;
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
	&--fill{
		background-color: $l-blue1;
		border: 1px solid $l-blue1;
		color: $white;
		min-width: 100px;
		transition: 0.6s;
		&:hover{
			color: $white;
			opacity: .85;
		}
	}
	&--primary{
		color: $white;
		text-transform: uppercase;
		@include font($mt, 1.4rem, 600);
		text-transform: uppercase;
		background: rgb(84,76,249);
        background: -moz-linear-gradient(left,  rgba(84,76,249,1) 0%, rgba(129,76,249,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(84,76,249,1) 0%,rgba(129,76,249,1) 100%);
        background: linear-gradient(to right,  rgba(84,76,249,1) 0%,rgba(129,76,249,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#544cf9', endColorstr='#814cf9',GradientType=1 );
        transition: 0.4s;	
       	&:hover{
			color: $white;			
		}
	}
		&--light{
		background-color: $white;
		box-shadow: 0px 2px 27px 10px rgba(204,204,223,0.19);
		padding: 15px 56px;
		color: $black;
		@include font($os, 1.8rem, 600);
		transition: 0.6s;
		&:hover{
           color: $black;
           background-color: $l-gray1;
		}
	}
	&--black{
		background-color: $black;
		color: $white;
		@include font($os, 1.6rem, 600);
		padding: 10px 15px;
		max-width: 200px;
		width: 100%;
		text-align: center;
		transition: 0.6s;
		&:hover{
			background-color: $l-black;
			color: $white;
		}
	}
	&--blue{
			background-color: $l-blue1;
			color: $white;
			@include font($os, 1.6rem, 400);
			padding: 15px 10px;
			text-align: center;
			transition: 0.6s;
			&:hover{
				background-color: $l-blue2;
				color: $white;
			}
		}
		&--gray{
			background-color: $l-gray4;
			color: $black;
			@include font($os, 1.6rem, 400);
			padding: 8px 49px;
			text-align: center;
			transition: 0.5s;
			&:hover{
				box-shadow: 0px 2px 27px 10px rgba(204,204,223,0.19);	
				background-color: $l-blue3;
				color: $black;
			}
		}
		&--inf-black{
			background-color: $l-black;
			color: $white;
			@include font($os, 1.4rem, 400);			
			line-height: 1;
			text-align: center;
			&:hover{
				background-color: $l-black;
				color: $white;
			}
		}
		
}
