$white: #fff;
$m-white: #f9fafb;
$l-gray8: #f4f4f4;
$l-gray9: #cccccc;
$l-gray10: #d7d7d7;
$black: #000;
$l-black: #252525;
$m-white2:#f0f6fc;
$d-blue: #4f4f6f;
$l-blue1: #544cf9;
$l-blue2: #6684f2;
$l-blue4: #90a6f9;
$l-blue8: #4f4f6f;
$l-blue7: #00aeef;
$l-blue9: #01baff;
$l-gray1: #e1e1e1;
$l-gray2: #959595;
$l-gray4: #e8f0f3;
$l-gray6: #c2c2c2;
$l-gray7: #818181;
$l-gray11: #a1a1a1;
$m-gray: #7d7d7d;
$l-gray5: #636363;
$l-blue3: #d9e6ec;
$l-blue5: #ecf5f6;
$l-blue6: #ebf2f3;
$tr: transparent;
$im: !important;
$os: 'Open Sans', sans-serif;
$mt: 'Montserrat', sans-serif;
$pd: 'Playfair Display', serif;