.at-benefits{
	background-color: $white;

&__title{
    color:  $l-blue2;
    @include font($os, 1.4rem, 700);
    letter-spacing: 2px;
    text-transform: uppercase;
}
&__subtitle{
	color: $m-gray;
    @include font($os, 1.4rem, 400);
    margin-bottom: 75px;
}
&__subject{
	color: $black;
    @include font($os, 1.8rem, 300);
    position: relative;
    

}
&__text{
	color: $m-gray;
    @include font($os, 1.5rem, 400);

}
&__icon{
	margin-right: 20px;
	.far{
		font-size: 24px;
		color: $l-blue2;
	}
}
&__desc{
	text-align: left;
}
}