.at-chat{
	&__people{
		&-box{
			padding: 25px 25px 25px 25px;
			position: relative;
			&:before{
				position: absolute;
				content: "";
				width: calc(100% + 30px);
				height: 1px;
				background-color: $l-gray1;
				bottom: 0;
				left: -15px;
    		right: -15px;
			}
			&:after{
				position: absolute;
				content: "";
				width: calc(100% + 30px);
				height: 1px;
				background-color: $l-gray1;
				top: 0;
				left: -15px;
    		right: -15px;
			}
		}
		&-photo{	
			margin-right: 20px;
			img{
				border-radius: 50%;
			}
		}
		&-name{
			color: $l-blue2;
			line-height: 1;
			margin-bottom: 13px;
		}
		&-job{
			color: $m-gray;
			&-position{
				color: $l-blue2;
			}
		}
		&-settings{
				width: 40px;
				text-align: center;
				display: block;
				position: absolute;
			.fas{
				line-height: 2;
				font-size: 2.2rem;
				color: $l-gray1;
			}
		}
	}
	&__wrap{
			position: relative;
		}
	&__search{
			position: relative;
			&-box{
				position: relative;
				bottom: 0;
				width: 100%;
				z-index: 9;
			}
			&-reply{
				position: absolute;
				top: 26px;
				right: 16px;
				border: none;
				color: $black;
				line-height: 35px;
				border-radius: 30px;
				padding: 0 30px;
				box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.18);
				background-color: $white;
				@include font($os, 1.4rem, 600);
				transition: 0.5s;
				&:hover{
					color: $l-black;
					background-color: $l-gray8;
				}
				&:focus{
					outline: 0;
				}
			}
			&-settings{
				padding: 0 25px 25px 15px;
			}
			&-icon{
				padding: 10px 10px;
				display: block;
				height: 45px;			
				.fas{
					color: $l-gray11;
					line-height: 1;
					font-size: 2.4rem;
					transition: 0.5s;
				}
				.far{
					color: $l-gray11;
					line-height: 0.9;
					font-size: 2.9rem;
					transition: 0.5s;
				}
				&:hover{
					.fas{
						color: $l-blue1;
					}
					.far{
						color: $l-blue1;
					}
				}
			}
			&:before{
				position: absolute;
				content: "";
				width: calc(100% + 30px);
			    height: 1px;
			    background-color: $l-gray1;
			    top: 0;
			    left: -15px;
			    right: -15px;
			}
			input{
				color: $black;
				line-height: 1;
				@include font($os, 1.4rem, 600);
				border: none;
				width: 100%;
				padding: 33px 129px 17px 25px;
				&:focus{
					box-shadow: 0 0 0 0;
					outline: 0;
				}
				&::-webkit-input-placeholder {color:$l-gray2;}
				&::-moz-placeholder          {color:$l-gray2;}
				&:-moz-placeholder           {color:$l-gray2;}
				&:-ms-input-placeholder      {color:$l-gray2;}
			}
		
	}
	&__messages{
		&-box{
			padding-top: 30px;
			height: 100%;
			overflow-y: scroll;
			overflow-x: hidden;
			padding-bottom: 30px;
		}
	}
	&__user{
		&--right{
			margin-right: 25px;
			& + .at-chat__user--left{
				margin-top: 8px;
			}
			.at-chat__user-img{
				overflow: hidden;
				flex: 0 0 45px;
				width: 45px;
				height: 45px;
				border-radius: 50%;
				margin-left: 10px;
			}
			.at-chat__msg{
				overflow: hidden;
				text-align: right;
				&-box{
					width: calc(100% - 80px);
				}
		    &-text{
		    	text-align: left;
					display: inline-block;
					background-color: $l-blue1;
					padding: 14px 27px;
					color: $white;
					word-break: break-word;
					line-height: 1;
					@include font($os, 1.4rem, 600);
					border-bottom-left-radius: 29px;
			    border-top-left-radius: 29px;
				}
		    & + .at-chat__msg{
		    	margin-top: 3px;
		    }
				&:first-child .at-chat__msg-text{
			    border-top-right-radius: 29px;
				}
				&:last-child .at-chat__msg-text{
			    border-bottom-right-radius: 29px;
				}

			}
		}
		&--left{
			margin-left: 25px;
			& + .at-chat__user--right{
				margin-top: 8px;
			}
			.at-chat__user-img{
				overflow: hidden;
				flex: 0 0 45px;
				width: 45px;
				height: 45px;
				border-radius: 50%;
				margin-right: 10px;
			}
			.at-chat__msg{
				overflow: hidden;
				text-align: left;
				@include font($os, 1.4rem, 600);
				&-box{
					width: calc(100% - 80px);
				}
				&-text{
					text-align: left;
					word-break: break-word;
					display: inline-block;
					background-color: $l-gray1;
					padding: 14px 27px;
					color: $black;
					line-height: 1;
					border-top-right-radius: 29px;
			    border-bottom-right-radius: 29px;
				}
				& + .at-chat__msg{
		    	margin-top: 3px;
		    }
				&:first-child .at-chat__msg-text{
			    border-top-left-radius: 29px;
				}
				&:last-child .at-chat__msg-text{
					border-bottom-left-radius: 29px;
				}
			}
		}
	}
}