.at-featured{
	background-color: $white;
	padding-bottom: 125px;
&__wrap{
	flex-wrap: wrap;
}	
&__img-box{
	flex: 0 0 100px;
	max-width: 100px;
	height: auto;
&:hover .at-featured__img, &:active .at-featured__img, &:focus .at-featured__img{
	box-shadow: 0px 5px 49px 15px rgba(130,112,161,0.19);	
}
&:hover .at-featured__subtile, &:active .at-featured__subtile, &:focus .at-featured__subtile{
	color: $l-blue1;
}
}
&__img{
	border-radius: 10px;
}
&__subtile{
	@include font($mt, 1.4rem, 600);
	color: $m-gray;
	margin-bottom: 0;
	padding-top: 13px;
}
}