.at-feedback{
	background-color: $l-blue5;
	min-height: 100vh;
	&__subtitle{
		color: $l-blue2;
    	@include font($os, 1.4rem, 700);
    	letter-spacing: 2px;
    	line-height: 1;
	}
	&__line{
	&:before{
    position: absolute;
    content: "";
    width: 100%;
    max-width: 100px;
    height: 1px;
    background-color: #636363;
    top: 0;
    left: 0;
	}
}
&__photo {
	border-radius: 50%;
}
&__title{
	color: $black;
    @include font($os, 3rem, 400);
    margin-bottom: 38px;
    line-height: 1.2;
}
&__text{
	color: $m-gray;
    @include font($os, 1.8rem, 400);
}
&__name{
	color: $l-blue2;
    @include font($os, 1.4rem, 600);
    line-height: 1.2;
    &-box{
    	margin-top: 20px;
    	margin-bottom: 57px;
    }
}
&__position{		
	color: $l-gray2;
	text-transform: uppercase;
    @include font($os, 1.2rem, 400);
}
&__item{
	
	position: relative;
	&:before{
		content: "“";
		position: absolute;
		left: -20px;
		top: 0;
		line-height: 100px;
		color: $l-blue2;
		@include font($mt, 12rem, 600);
	}
}
&__client{
	display: block;
	&:hover .at-feedback__photo, &:focus .at-feedback__photo{
		box-shadow: 0px 7px 25.81px 3.19px rgba(0, 0, 0, 0.24);
		border: 4px solid $white;
	}
	
}
	.owl-prev, .owl-next{
		&:focus{
			outline: none $im;
		}
	}
	.owl-prev + .owl-next{
		margin-left: 30px;
	}

	.owl-prev{
			&:hover{
				.at-feedback__prev:before{
					content: url(img/f-prev-h.svg);
				}
			}
		}
		.owl-next{
			&:hover{
				.at-feedback__next:before{
					content: url(img/f-next-h.svg);
				}
			}
		}
		.at-feedback__prev, .at-feedback__next{
			transition: 0.5s;
			height: 50px;
			width: 50px;
			background-color: $white;
			border-radius: 50%;
			position: relative;
			box-shadow: 0px 9px 35px 0px rgba(0, 0, 0, 0.15);
			&:before{
				top: 50%;
    			left: 50%;
    			transform: translate(-50%, -50%);
    			position: absolute;
    			height: 17px;
			}
			&:hover{
				background-color: $l-blue2;
				box-shadow: 0px 13px 18px 0px rgba(102, 132, 242, 0.3);
			}
		}
		.at-feedback__prev{
			&:before{
				content: url(img/f-prev.svg);
				
			}
		}
		.at-feedback__next{
			&:before{
				content: url(img/f-next.svg);
				&:hover{
					content: url(img/f-next-h.svg);
				}
			}
		}
}