.at-footer{
	padding-top: 50px;
	border-top: 1px solid $l-gray1;
	background-color: $white;
	padding-bottom: 45px;
	&__community{
		@include font($os, 1.3rem, 700);
		color: $black;
		text-transform: uppercase;
		& + .at-footer__community{
			margin-left: 70px;
		}
	}
	&__number{
		@include font($os, 2.2rem, 400);
		color: $l-blue1;
	}
	&__wrap{
		flex-wrap: wrap;
	}
	&__title{
		@include font($os, 1.8rem, 600);
		color: $black;
	}
	&__list{
		padding: 0;
		list-style-type: none;
	}
	&__list-item{		
		a{  
			display: block;
			@include font($os, 1.4rem, 400);
			line-height: 32px;
			color: $m-gray;
			transition: 0.7s;
		&:hover{
			color: $l-blue1;
			padding-left: 14px;
		}
	}
	}
	&__box{
		padding-top: 58px;
	}
	&__text{
		@include font($os, 1.4rem, 400);
		color: $m-gray;
	}
	&__input{
		box-shadow: 0 0 0 0 rgba(0,123,255,0) $im;
		border-radius: 30px;
		padding: 20px 18px;
		@include font($os, 1.4rem, 600);
		border-color: $l-blue3;
		&::-webkit-input-placeholder {color:$l-gray2;}
		&::-moz-placeholder          {color:$l-gray2;}
		&:-moz-placeholder           {color:$l-gray2;}
		&:-ms-input-placeholder      {color:$l-gray2;}
	}

	&__btn{
		width: 100%;
		background-color: $l-blue1;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		@include font($os, 1.2rem, 600);
		color: $white;
		&:hover{
			color: $white;
		}
		&-box{
			max-width: 156px;
			width: 100%;
		}		
	}
	&__line{
		border-top: 1px solid $l-gray1;

	}
	&__link-box{
		transition: 1s;
	}
	&__link{
		@include font($os, 1.4rem, 600);
		color: $black;
		&:hover{
			color: $black;
		}
	}
	&__form{
		padding-left: 0;
		padding-right: 0;
		max-width: 97px;
		width: 100%;
		border-bottom: 0px solid $black;
		border-color: transparent;
		background-color: transparent;
		@include font($os, 1.2rem, 600);
		color: $black;
		text-transform: uppercase;
		&:focus{
    			color: $black;
    			box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.18); 
    			border-color: $tr;
    		}
	}
	&__language{
		line-height: 2.3;
		margin-bottom: 0;
		padding: 0;
		@include font($os, 1.2rem, 600);
		color: $m-gray;
		text-transform: uppercase;
	}
	&__form-box{
		margin: 0;
		
	}
	&__copy{
		@include font($os, 1.4rem, 600);
		color: $m-gray;
		&-link{
			@include font($os, 1.4rem, 600);
			color: $l-blue1;
		}
	}
	&__social{
		transition: 0.5s;
		display: inline-block;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background-color: $l-blue3;
		text-align: center;
		border: 1px solid $l-blue3;
		& + .at-footer__social{
			margin-left: 15px;
		}
		&:hover{
			background-color: $white;
			border: 1px solid $l-gray1;
			.fab{
				color: $l-blue1;
			}
		}
		.fab{
			font-size: 16px;
			color: $l-gray2;
			line-height: 35px;
		}
	}
}