.at-founder{
	min-height: 100vh;
	background: transparent url(img/christin.jpg) center no-repeat;
    background-size: cover;
    &__box{
    	min-height: 100vh;
		background: rgb(169,158,250);
		background: -moz-linear-gradient(left,  rgba(169,158,250,1) 0%, rgba(161,122,249,1) 50%, rgba(233,199,250,1) 100%);
		background: -webkit-linear-gradient(left,  rgba(169,158,250,1) 0%,rgba(161,122,249,1) 50%,rgba(233,199,250,1) 100%);
		background: linear-gradient(to right,  rgba(169,158,250,1) 0%,rgba(161,122,249,1) 50%,rgba(233,199,250,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a99efa', endColorstr='#e9c7fa',GradientType=1 );
		position: relative;
		&:before{
			content: "";
			height: 1px;
			max-width: 10%;
			width: 100%;
			position: absolute;
			top: 112px;
			right: 35px;
			background-color: $white;
		}
    }
    &__subtitle{
		color: $white;
    	@include font($os, 1.4rem, 700);
    	letter-spacing: 2px;
	}
	&__title{
		color: $white;
    	margin-bottom: 17px;
	}
	&__text{
		color: $white;
    	@include font($os, 1.8rem, 400);
		margin-bottom: 36px;
	}
	&__img-logo{
		margin: 0 auto;
		display: block;
		width: 118px;
		height: 118px;
		border-radius: 50%;
		background-color: $l-gray7;
		text-align: center;
		line-height: 116px;
	}
	&__author{
	&-photo{
		max-width: 45px;
		border-radius: 50%;

	}
	&-name{
		color: $white;
    	@include font($os, 1.4rem, 600);
    	margin-bottom: 6px;
	}
	&-position{
		color: $white;
    	@include font($os, 1.2rem, 400);
    	text-transform: uppercase;
	}
	&-box{
		padding-left: 30px;
	}
}
}

