.at-main-content{
	background-color: $white;
	
	&__filter-box{
		padding-top: 65px;
		padding-bottom: 65px;
	}
	&__title{
		color: $black;
    	@include font($os, 2.2rem, 300);
    	
	}
	
	&__dropdown{
		box-shadow: 0 0 0 0 rgba(0,123,255,0) $im;
		background-color: $tr;
		color: $l-gray2;
		border: 0;
		padding-left: 0;
		text-align: left;

		@include font($os, 1.3rem $im, 400);
		&:focus , &:hover{
			background-color: $tr;
			color: $l-gray2;
		}
		&:after{
			
			margin-left: 15px;
			margin-top: 8px;
			height: 5px;
		}
		&-show{  
    		top: 0px $im;   
    		margin-top: 0;		
    		max-width: 100% $im;
    		width: 100%;
    		color:  $black;
	    	@include font($os, 1.3rem $im, 600);
		}
	}
	&__img{
		
		border-radius: 50%;
		&-box{		
		    width: 100%;
			height: auto;		
		}
	}
	&__subtitle{
		color:  $l-blue2;
	    @include font($os, 1.6rem $im, 600);
	    margin-bottom: 5px;
	}
	&__slogan{
		color:  $l-gray2;
	    @include font($os, 1.3rem $im, 600);
	    &--color{
	    	color: $black;
	    }
	    .fas{
	    	color: $m-gray;
	    	font-size: 1.6rem;
	    	margin-right: 15px;
	    }
	}
	&__text{
		color:  $m-gray;
	    @include font($os, 1.4rem $im, 600);
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	&__result-box{
		position: relative;
		display: none;
		padding-top: 25px;
		padding-bottom: 30px;
}
	&__row-box{
		position: relative;
	}
	
	&__view-more{
		color:  $l-gray2;
	    @include font($os, 1.4rem $im, 600);
	    
	}
	&__more{
		margin-top: 10px;
}
	&__dots{
		margin-bottom: 1px;
	    margin-right: 15px;
}

}