.at-manage{
	&__title{
		color: $l-blue8;
		line-height: 1;
        @include font($os, 3.6rem, 400);
        margin-bottom: 35px;
	}
	&__subtitle{
		line-height: 1;
		color: $black;
    	@include font($os, 2.2rem, 300);
	}
	&__photo{
		width: 70px;
		flex: 0 0 70px;
		img{
			border-radius: 50%;
		}
	}
	&__name{
		line-height: 1;
		color: $l-blue2;
    	@include font($os, 1.6rem, 400);
    	margin-bottom: 12px;
	}
	&__slogan{
		line-height: 1;
		color: $l-gray2;
    	@include font($os, 1.3rem, 400);
    	margin-bottom: 18px;
	}
	&__text{
		line-height: 1.6;
		color: $black;
    	@include font($os, 1.3rem, 600);
	}
	&__btn{
		display: block;
		line-height: 1;
    	@include font($os, 1.3rem, 400);
    	padding: 12px 0;
    	border-radius: 30px;
    	transition: 0.5s;
    	text-align: center;
    	width: 100%;
    	max-width: 90px;
    	&-box{
    		margin-top: 25px;
    	}
		&--left{
			color: $white;
			background-color: $l-blue2;
			margin-right: 14px;
			&:hover{
				color: $white;
				background-color: $l-blue4;
			}
		}
		&--right{
			box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.18);
			color: $black;
			background-color: $white;
			&:hover{
				color: $black;
				background-color: $l-gray1;
			}
		}
	}
}