.at-message{
	background-color: $white;
	&__line{
		padding-bottom: 54px;
	position: relative;
	&:before{
			position: absolute;
			content: "";
			display: block;
			width: 100%;
			max-width: 100px;
			height: 1px;
			background-color: $l-gray5;
			top: 0;
			left: 0;
		}
	}
	&__subtitle{
		color: $l-blue2;
    	@include font($os, 1.4rem, 700);
    	letter-spacing: 2px;
	}
	&__title{
		color: $d-blue;
    	margin-bottom: 17px;
	}
	&__text{
		color: $m-gray;
    	@include font($os, 1.8rem, 400);
		margin-bottom: 60px;
	}
	&__input{
		padding-left: 5px;
		height: auto $im;
		line-height: 50px;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 1px solid $l-gray1;
		@include font($os, 1.6rem, 400);
		&::-webkit-input-placeholder {color:$m-gray;}
		&::-moz-placeholder          {color:$m-gray;}
		&:-moz-placeholder           {color:$m-gray;}
		&:-ms-input-placeholder      {color:$m-gray;}
		&:focus{
			background-color: transparent;
			box-shadow: 0 0 0 0 rgba(0,123,255,0) $im;
			border-bottom: 1px solid $l-blue1;
			&::-webkit-input-placeholder {color:$black;}
			&::-moz-placeholder          {color:$black;}
			&:-moz-placeholder           {color:$black;}
			&:-ms-input-placeholder      {color:$black;}
			
		}
	}
	&__contact-box{
		margin-bottom: 50px;
	}
	&__textarea{
		padding-left: 5px;
		height: auto $im;
		line-height: 50px;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 1px solid $l-gray1;
		@include font($os, 1.6rem, 400);
		&::-webkit-input-placeholder {color:$m-gray;}
		&::-moz-placeholder          {color:$m-gray;}
		&:-moz-placeholder           {color:$m-gray;}
		&:-ms-input-placeholder      {color:$m-gray;}
		&:focus{
			background-color: transparent;
			box-shadow: 0 0 0 0 rgba(0,123,255,0) $im;
			border-bottom: 1px solid $l-blue1;
			&::-webkit-input-placeholder {color:$black;}
			&::-moz-placeholder          {color:$black;}
			&:-moz-placeholder           {color:$black;}
			&:-ms-input-placeholder      {color:$black;}
			
		}
	
	}
	&__btn{
		padding: 12px 66px;
	}
}