.at-partners{
	background-color: $white;
	&__title{
		color: $l-blue2;
    	@include font($os, 1.4rem, 700);
    	letter-spacing: 2px;
    	line-height: 1;
    	margin-bottom: 70px;
    	text-transform: uppercase;
	}
	&__photo{
		width: 100%;
		height: 100px;
		max-width: 170px;
		
	}
	&__wrap{
		flex-wrap: wrap;
	}
	&__photo-box{
		margin-bottom: 40px;
	}
}