.at-project{
	background-color: $white;
	min-height: 100vh;
	position: relative;

&__title{
	@include font($os, 4.8rem, 600);
	color: $d-blue;
}
&__subtitle{
   @include font($os, 1.8rem, 300);
	color: $m-gray;

}
&__text{
	position: absolute;
	
	text-transform: uppercase;
	color: $m-white2;
}
&__img{
	margin-top: 95px;
}
&__service{
	transition: ease-in-out .7s;
	
	max-height: 364px;
	&:hover .at-project__service-btn{
		display: inline-block;
	}
	
	&-img{
		height: 54px;

	}
	&-name{
		@include font($os, 2.2rem, 400);
		color: $black;
	}
	&-text{
	@include font($os, 1.6rem, 400);
	color: $m-gray;
	margin-bottom: 30px;
	max-width: 305px;
	width: 100%;
	text-align: center;
	display: inline-block;
	}


}
}