.at-search{
	background-color: $white;
	
&__title{
	@include font($os, 4.8rem, 600);
	color: $d-blue;
}
&__subtitle{
   @include font($os, 2.4rem, 300);
	color: $m-gray;

}
&__form-box{
	position: relative;
}
&__input{
	border-color: $l-gray1;
	padding: 30px 65px;
	border-radius: 30px $im;
	@include font($os, 1.6rem, 400);
	color: $l-gray2;
	z-index: 0;
	&::-webkit-input-placeholder {color:$l-gray2;}
		&::-moz-placeholder          {color:$l-gray2;}
		&:-moz-placeholder           {color:$l-gray2;}
		&:-ms-input-placeholder      {color:$l-gray2;}
	&:focus{
		z-index: 0;
	}
}
&__icon{
	position: absolute;
	top: 23px;
	left: 32px;
	z-index: 9;
	font-size: 16px;
	color: $l-blue1;
}
&__btn{
	z-index: 9;
	right: 6px;
	
	width: 100%;
	.at-btn{
		padding: 15px 15px;
		width: 100%;
	}
}
&__text{
    @include font($os, 1.8rem, 300);
	color: $m-gray;
}
&__link{
	@include font($os, 1.8rem, 600);
	color: $l-blue1;
	&:hover{
		color: $l-blue1;
	}
}
&__btn-icon{
	margin-right: 39px;
}
}