.e-clients{
	padding-top: 110px;
	padding-bottom: 85px;
	position: relative;
	&__wrap{
		margin-left: 0;
		&:hover{
			.e-clients__name{
				color: $d-gray2;
			}
			.e-clients__position{
				color: $l-gray4;
			}
		}
	}
	&__img{
		&-left{
			position: absolute;
			left: 0;
		}
		&-right{
			position: absolute;
			right: 0;
		}
	}
	&__photo{
		display: block;
		border-radius: 50%;
		min-width: 89px;
		height: 89px;
		position: relative;
		&-box{
			position: relative;
			display: flex;
			&:before{
		    	content: "";
		    	display: block;
		    	background: transparent url(img/client-img-left.png) no-repeat;
			    background-size: contain;
			    position: absolute;
			    width: 82%;
			    height: 50px; 
			    right: 160px;
			    z-index: -1;
		    }
		    &:after{
		    	content: "";
		    	display: block;
		    	background: transparent url(img/client-img-right.png) no-repeat;
			    background-size: contain;
			    position: absolute;
			    left: 160px;;
			    width: 82%;
			    height: 50px;
			    z-index: -1;
		    }
		}
		 
		&-wrap{
			margin: 0 auto;
			position: relative;
			display: flex;
			justify-content: center;
			
		}
	}
	&__name{
		@include font($p, 1rem, 700, 1);
		color: $d-gray3;
		transition: 0.4s;
		&-box{
			margin-top: 15px;
			margin-bottom: 30px;
		}
	}
	&__position{
		@include font($p, 0.9rem, 400, 1);
		color: $l-gray2;
		margin-top: 7px;
		transition: 0.4s;
	}
	&__text{
		@include font($os, 0.9rem, 600, 1.7);
		color: $d-gray3;
		font-style: italic;
	}
	&__logo{
		// flex: 0 0 280px;
	 //    max-width: 280px;
	 //    height: auto;
	    &-wrap{
	    	margin-top: 115px;
	    }
	}
	.bx-wrapper{
		box-shadow: 0 0 0px #ccc $im;
 		border: 0px solid #fff $im;
	    background: #fff;
	    margin-bottom: 0px;
	}
	.bx-viewport{
		    height: auto $im;

	}
	.bx-wrapper .bx-prev, .bx-next{
		display: none $im;
	}
	.bx-wrapper .bx-pager{
		padding-top: 0;
		display: flex;
		justify-content: center;
	}
	// .bx-wrapper .bx-pager a{
	// 	transition: 0.1s;
	// }
	.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus{
		background-color: $l-gray-hover;
		width: 12px;
		height: 12px;
		margin: 0 4px;	
	}
	.bx-wrapper .bx-pager-item{
		align-self: center;
	}

	
}