.e-function{
	background-color: $bg;
	padding-top: 130px;
	padding-bottom: 65px;
	&__subtitle{
		@include font($p, 0.8rem, 400, 1);
		color: $white;
	}
	&__title{
		@include font($p, 1.5rem, 800, 1.2);
		color: $white;
		max-width: 52%;
	    margin-top: 13px;
	    margin-bottom: 23px;
	}
	&__text{
		@include font($p, 0.8rem, 400, 1.7);
		color: $l-gray2;
	}
	&__btn{
		position: relative;
		// border-top: 1px solid $l-gray2;
		@include font($p, 0.8rem, 400, 1.7);
		color: $l-gray1;
	    text-align: start;
	    border-bottom: 0px;
	    background-color: $collaps-bg;
	    border-radius: 0 $im;
	    &:last-child{
	    	border-bottom: 1px solid $d-gray1 $im;
	    }
	    &:hover{
	    	color: $l-gray1;
	    }

	}
	.card{
		background-color: $tr;
		border: 0px solid #000;
		border-radius: 0;
		// border-bottom: 1px solid $l-gray2 $im;
	}
	.card:last-child{
		border-bottom: 1px solid $d-gray1 $im;
	}
	.collapsed{
			background-color: $tr;
			border-top: 1px solid $d-gray1;
			position: relative;
			&:before{
		    	content: "";
		    	display: block;
		    	position: absolute;
		    	width: 12px;
		    	height: 2px;
		    	top: 22px;
			    right: 27px;
		    	background-color: $white;
		    }
		    &:after{
		    	content: "";
		    	display: block;
		    	position: absolute;
		    	width: 2px;
			    height: 12px;
			    top: 17px;
			    right: 32px;
		    	background-color: $white;
		    }

	
	}
	.show{
		position: relative;
		&:before{
	    	content: "";
	    	display: block;
	    	position: absolute;
	    	width: 11px;
	    	height: 2px;
	    	top: -22px;
		    right: 27px;
	    	background-color: $white;
	    }
	}
	&__card{
		&-text{
			@include font($p, 0.7rem, 400, 1.7);
			color: $l-gray2;
			padding-left: 0;
		    padding-right: 30px;
		}
		&-box{
			margin-top: 55px;
		}
	}
}