.e-info{
	padding-bottom: 100px;
	&__subtitle{
		@include font($p, 0.8rem, 400, 1);
		color: $l-gray2;
	}
	&__title{
		@include font($p, 1.8rem, 800, 1);
		color: $black;
	    margin-top: 10px;
	    margin-bottom: 40px;
	}
	&__name{
		&-address{
			@include font($p, 0.8rem, 400, 1);
			color: $l-gray3;
			text-transform: uppercase;
			
		}
		&-email{
			margin-top: 20px;
			@include font($p, 0.8rem, 400, 1);
			color: $l-gray3;
			text-transform: uppercase;
		}
	}
	&__address{
		@include font($p, 0.8rem, 400, 1);
		color: $l-gray7;
		margin-top: 7px;
	}
	&__email{
		@include font($p, 0.8rem, 400, 1);
		color: $l-gray7;
		margin-top: 7px;
		transition: 0.3s;
		&:hover{
			color: $e-violet;
		}
	}
}