.e-portfolio{
	&__subtitle{
		@include font($p, 0.9rem, 400, 1);
		color: $l-gray6;
	}
	&__title{
		@include font($p, 1.5rem, 800, 1);
		color: $black;
		margin-top: 2px;
		margin-bottom: 30px;
	}
	&__button{
		border: 0px;
		padding: 0;
		background-color: $tr;
		@include font($p, 1rem, 600, 1);
		color: $black;
		position: relative;
		text-transform: uppercase;
		cursor: pointer;
		&:focus{
			outline: 0px;
		}
		& + .e-portfolio__button{
			margin-left: 40px;
		}
		&-namber{
			position: absolute;
			@include font($p, 0.6rem, 400, 1);
			color: $l-gray2;
			top: 0;
		    right: -16px;
		}
		&-group{
			margin-bottom: 58px;
		}
	}
	&__element{
		&-item{
			flex: 0 0 436px;
			max-width: 436px;
			height: 360px;
			background-color: $d-gray2;
			&:hover{
				.e-portfolio__element-box{
					opacity: 1;
				}
				.e-portfolio__element-icon-box{
					opacity: 1;
					transition-delay: 0.3s;
				}
			}
		}
		&-box{
			opacity: 0;
			background-color: $e-violet;
			transition: 0.3s;
			flex: 0 0 436px;
			max-width: 436px;
			height: 360px;
		}
		&-icon{
			flex: 0 0 51px;
			max-width: 51px;
			height: 51px;
			border-radius: 50%;
			background-color: $l-gray3;
			transition: 0.3s;
			text-align: center;
			.fas{
				font-size: 1rem;
				color: $white;
				transition: 0.3s;
				line-height: 51px;
			}
			&:hover{
				background-color: $white;
				.fas{
					color: $black;
				}
			}
			& + .e-portfolio__element-icon{
				margin-left: 10px;
			}
			&-box{
				opacity: 0;
				padding-top: calc(50% + 26px);
			}
		}
		&-title{
			@include font($p, 1rem, 600, 1);
			color: $black;
		}
		&-subtitle{
			@include font($p, 0.6rem, 400, 1);
			color: $l-gray2;
		}
		&-wrap{
			margin-top: 15px;
		    margin-left: 8px;
		    margin-bottom: 25px;
		}
	}
}