.at-about{
	background: rgb(169,158,250);
    background: -moz-linear-gradient(left,  rgba(169,158,250,1) 0%, rgba(161,122,249,1) 51%, rgba(233,199,250,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(169,158,250,1) 0%,rgba(161,122,249,1) 51%,rgba(233,199,250,1) 100%);
    background: linear-gradient(to right,  rgba(169,158,250,1) 0%,rgba(161,122,249,1) 51%,rgba(233,199,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a99efa', endColorstr='#e9c7fa',GradientType=1 );
    &__slogan{
	color: $white;
    @include font($os, 1.7rem, 700);
    line-height: 1.5;
    margin-bottom: 0;
    text-transform: uppercase;
    &-box{
    	position: relative;
	&:before{
		position: absolute;
		background-color: $white;
		content: "";
		display: block;
		width: 4px;
		height: calc(100% - 11px);
	    left: 0px;
	    top: 50%;
	    transform: translate(0, -50%);
	}
	}
}
&__box{
	min-height: 100vh;
	padding-bottom: 60px;
}
&__title{
	margin-bottom: 25px;
	color: $white;
    
}
&__text{
	color: $white;
   
}

}