.at-content{
	background-color: $white;
&__slogan{
	color: $l-gray2;
    @include font($os, 1.7rem, 700);
    line-height: 1.5;
    margin-bottom: 0;
    text-transform: uppercase;
    &-box{
    	position: relative;
	&:before{
		position: absolute;
		background-color: $l-gray2;
		content: "";
		display: block;
		width: 4px;
		height: calc(100% - 11px);
	    left: 0px;
	    top: 50%;
	    transform: translate(0, -50%);
	}
	}
}
&__subtitle{
	color: $l-blue2;
    @include font($os, 1.4rem, 700);
    letter-spacing: 2px;
}
&__title{
	color: $d-blue;
    @include font($os, 4.8rem, 700);
}
&__text{
	color: $m-gray;
    @include font($os, 1.5rem, 400);
}

}