.at-intro{
	background-color: $m-white;
&__slider{
	min-height: 100vh;
	flex-wrap: wrap;
	position: relative;
}
&__title{
	color: $black;
    z-index: 2;
    position: relative;
    line-height: 7.2rem;
}
&__shape-box{
	position: relative;
}
&__polygon{
	z-index: 1;
   top: -70px;
   left: 0;
   position: absolute;
}
&__figure{
	position: absolute;
	z-index: 3;
	top: 61px;
	right: -242px;
}
&__phones{
	position: absolute;
	z-index: 0;
	bottom: 70px;
	width: 55%;
	right: 0;
}
}