.at-menu{
	background-color: $l-blue5;
	&__list-box{
		display: block;
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	&__link{
		display: block;
		color: $l-gray5;
		@include font($os, 1.4rem, 400);
		line-height: 20px;
		padding: 15px 17px 0 13px;
	.at-menu__link + .at-menu__link{
		padding: 15px 17px 0 17px;
	}
		&-border{
			display: block;
			padding-bottom: 15px;
			position: relative;
			padding-right: 3px;
			padding-left: 3px;
		}
	}

	&__list{
		transition: 0.5s;
		.at-menu__link-border{
			transition: 0.5s;
			&:before{
				content: "";
				transition: 0.5s;
			}
		}
		&:hover, &--active{
		.at-menu__link{
			transition: 0.5s;
			color: $black;
		}
		.at-menu__link-border:before{
			content: "";
    		position: absolute;
    		width: 100%;
    		height: 2px;
    		background-color: $l-blue2;
    		bottom: 0;
    		left: 0;
		}
	}
}
	
}