.at-profile{
	background-color: $white;
	&__box{
		padding-bottom: 32px;
		position: relative;
		&:before{
			content: "";
			bottom: 0;
			position: absolute;
			display: block;
			height: 1px;
			background-color: $l-gray1;
		}
	}
	&__photo{
		max-width: 90px;
		height: 90px;
		display: block;
		border-radius: 50%;
		&-box{
			margin-right: 20px;
		}
	}
	&__subtitle{
		line-height: 1;
		color: $black;
    	@include font($os, 1.3rem, 600);
	}
	&__name{
		line-height: 1;
		color: $l-blue2;
    	margin-top: 15px;
    	margin-bottom: 20px;
	}
	&__link{
		line-height: 1;
		color: $l-gray2;
    	@include font($os, 1.4rem, 600);
    	transition: 0.5s;
    	&-box{
    		transition: 0.5s;
    	.fas{
    		transition: 0.4s;
    	}
    		&:hover .at-profile__link, &:hover .fas{
    		color: $d-blue;
    	}
    	.fas{
			font-size: 15px;
    		color: $l-gray6;
    		margin-left: 15px;
    	}
    	}
	}
	&__bar{
		background-color: $l-blue1;
		border-radius: 25px;
		position: relative;
		&-box{
			border-radius: 25px;
			border: 1px solid $l-blue1;
			background-color: $white;
		}
		&-value{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 10px;
			display: block;
			line-height: 13px;
			color: $white;
    		@include font($os, 1.2rem, 600);
		}
	}
	&__title{
		color: $black;
    	@include font($os, 1.4rem, 600);
    	margin-bottom: 16px;
    	line-height: 1;
	}
	&__skill-box{
		margin-top: 50px;
	}
	&__add-link{
		color: $m-gray;
    	@include font($os, 1.4rem, 600);
    	margin-top: 30px;
    	display: block;
    	line-height: 1;
    	transition: 0.5s;
    	&:hover{
    		transition: 0.5s;
    		color: $d-blue;
    	}
	}
}