$white: #fff;
$black: #000;
$bg: #1b1b1b;
$e-gray: #555655;
$d-gray3: #333332;
$d-gray2: #252525;
$d-gray1: #373737;
$l-gray1: #eaeaea;
$l-gray-hover: #d6d6d6;
$l-gray2: #bdbdbd;
$l-gray7: #9fa2ad;
$l-gray3: #4a4a4a;
$l-gray4: #7e7e7e;
$l-gray5: #e4e7e9;
$l-gray6: #878787;
$e-gray-skills1: #f5f9fa;
$e-gray-skills2: #f7fafb;
$e-gray-skills3: #f8fbfb;
$e-gray-skills4: #fafcfc;
$e-violet: #833dcc;
$d-violet: #7738b8;
$collaps-bg: #713ec2;
$l-violet: #d4abff;
$d-blue: #132b7c;
$l-blue: #718394;

$tr: transparent;
$im: !important;
$p: 'Poppins', sans-serif;
$os: 'Open Sans', sans-serif;
$mon: 'Monoton', cursive;